.App{
  height: 100%;
}

.landing-page{
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 1% auto;
    background-color: #CBCBCB;
    border: 1px solid black;
    border-radius: 10px;
}

.landing-logo{
  width: 60%;
  margin: 0 auto;
  padding: 11%;
  margin-left: 18%;
}

.pitch{
  margin: 2%;
  margin-top: 0%;
  width: 80%;
  font-size: 1.1rem;
  color: black;
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  border: 2px solid #E42127;
}