.Rider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #CBCBCB;
    border: 1px solid black;
    border-radius: 10px;
}

.user-cards {
    width: 30%;
    margin: 1%;
}

#user-cards {
    border: 3px solid #E46428;
    border-radius: 5px;
    background-color: #575972;
}

.card-body{
    color: black;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    background-color: #575972;
}

.home-button {
}

.search-form {
    margin: 1%;
    width: 20%;
}

.search-form form {
    display: flex;
    justify-content: space-between;
}

.request-button {
    margin-top: 3%;
}

.submit-button {
    margin-bottom: 2%;
    margin-left: 1%;
}