/* Rider */

.Rider {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #CBCBCB;
    border-radius: 10px;
}

.user-cards {
    margin: 1%;
    width: 30%;
}

#user-cards {
    background-color: #575972;
    border: 3px solid #E46428;
    border-radius: 5px;
}

.card-body{
    color: black;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    background-color: #575972;
}

.dropdown-menu {
    width: 40%;
}

#dropdown-menu{
    border: 2px solid #E46428;
    margin: 0 auto;
}

#dropdown-item {
    white-space: normal;
    width: 100%;
    color: black;
}

.home-button {
}

.search-form {
    margin: 1%;
    width: 25%;
}

.search-form form {
    display: flex;
    justify-content: space-between;
}

.request-button {
    margin-top: 3%;
    margin: 1%;
}

.review-button {
    margin-top: 3%;
    margin: 1%;
}

.submit-button {
    margin-bottom: 2%;
    margin-left: 1%;
}



/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.profile-card {
    margin: 2%;
    width: 100%;
    border: 3px solid #E42127;
    border-radius: 5px;
}

#profile-card{
    padding: 2%;
}

.profile-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit {
    margin: 1%;

}

.delete {
    margin: 1%;

}

/* Driver */

.Driver {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1% auto;
    background-color: #CBCBCB;
    border-radius: 10px;
}

.driver-signup{
    background-color: #E42127;
}

/* Edit Form */

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 100%;
}

.edit-form input {
    margin: .4rem;
    width: 100%;
}

.edit-form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}