/* Login */

.login{
    width: 20%;
    color: black;
    background-color: #E46428;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 1%;
}

.form-login{
    
}

.submit{
    margin-top: 3%;
}

.login-field{
    margin: 3%;
}